@model XiangXiang.Models.TAorder

@{
    ViewData["Title"] = "Create";
}


<h1>建立新廣告訂單</h1>

<h4>TAorder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.DisplayNameFor(model => Model.Supplier.Name)
                @Html.DropDownListFor(Model=> Model.Supplier.Name,new SelectList((IEnumerable<TAorder>)ViewBag.,nameof(Model.Supplier.SupplierId),nameof(Model.Supplier.Name)))
            </div>
            <div class="form-group">
                <label asp-for="AdvertiseId" class="control-label"></label>
                <input asp-for="AdvertiseId" class="form-control" />
                <span asp-validation-for="AdvertiseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clicks" class="control-label"></label>
                <input asp-for="Clicks" class="form-control" />
                <span asp-validation-for="Clicks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
