
@{
    ViewData["Title"] = "SelectCategoryEnum";
}

<h1>SelectCategoryEnum</h1>
@using (Html.BeginForm())
{
    @Html.TextBox("Movie","Movie",new { @list = "Movie" })
    <datalist id="Movie">
        @foreach (var o in ViewBag.MovieType)
        {
                <option value="@o.Value"></option>
        }
    </datalist>
    <input type="submit">
}
@ViewBag.messageString
